#headerContainer {
   padding: 3vh;
   text-align:center;
   background: lightgrey;
   border-bottom: 1px solid grey;
}

#viewDiv {
    height: 86.5vh;
}

#viewDiv div {
    height:inherit;
}

#filter-div{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

#cart{
    border: 2px solid black;
}

#num-people-form{
    padding-right:10px;
}

#cart-description{
    height:2vh;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background: lightgrey;
}

#cart-description p{
    display: inline;
}